<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付页</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" >
    <h1>支付成功页</h1>
    <div class="row">
        <div class="col align-self-start alert alert-success"  role="alert">订单 支付成功！！！</div>
    </div>
</div>

</div>
</body>
</html>